<!DOCTYPE html>
    <html>
        <head>
            <title>Registrar's Office Class Search></title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        </head>
        <body>
        <center><h1>Registrar's Office: Error</h1></center>

        <center>
            $errorMessage
        </center>
        
        <foot>
            <center> Created by Osita Ighodaro and Ben Musoke-Lubega </center>
        </foot>
     </html>