<!DOCTYPE html>
    <html>
        <head>
            <title>Registrar's Office Class Search></title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        </head>
        <body>
        <center><h1>Registrar's Office: Class Search</h1></center>

        <center>
        <table>
            <tr>
                <td> <input type="text" id="deptInput" oninput="getResults()" placeholder="Department"> </td>
                <td> <input type="text" id="coursenumInput" oninput="getResults()" placeholder="Course Number"> </td>
                <td> <input type="text" id="areaInput" oninput="getResults()" placeholder="Area"> </td>
                <td> <input type="text" id="titleInput" oninput="getResults()" placeholder="Title"> </td>
            </tr>
        <table>
        </center>
        
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> ClassId </th>
                    <th scope="col"> Dept </th>
                    <th scope="col"> Num </th>
                    <th scope="col"> Area </th>
                    <th scope="col" style="text-align:left"> Title </th>
                <tr>
            </thead>
            <tbody id="results">
                #foreach (${r} in ${rows})
                <tr>
                    ${r}
                <tr>
                #end
            </tbody>
        </table>
        </body>

        <foot>
            <hr>
            Created by Osita Ighodaro and Ben Musoke-Lubega
            <hr>
        </foot>

        <script>

            function createAjaxRequest()  // From Nixon book
            {
                let req;       
                try  // Some browser other than Internet Explorer
                {
                    req = new XMLHttpRequest();
                }
                catch (e1) 
                {    
                    try  // Internet Explorer 6+
                    {
                        req = new ActiveXObject("Msxml2.XMLHTTP");
                    }
                    catch (e2) 
                    {  
                        try  // Internet Explorer 5
                        { 
                            req = new ActiveXObject("Microsoft.XMLHTTP"); 
                        }
                        catch (e3)
                        {  
                            req = false;
                        }
                    }
                }
                return req;
            }

            function processReadyStateChange()
            {
                const STATE_UNINITIALIZED = 0;
                const STATE_LOADING       = 1;
                const STATE_LOADED        = 2;
                const STATE_INTERACTIVE   = 3;
                const STATE_COMPLETED     = 4;
                
                if (this.readyState != STATE_COMPLETED)
                return;
                
                if (this.status != 200)  // Request succeeded?
                {  
                    alert(
                    "AJAX error: Request failed: " + this.statusText);
                    return;
                }
                
                if (this.responseText == null)  // Data received?
                {  
                    alert("AJAX error: No data received");
                    return;
                }

                let results = 
                document.getElementById("results");
                results.innerHTML = this.responseText;
            }

            let seed = date.getSeconds();
            let request = null;
            
            function getResults()
            {
                let dept = document.getElementById('deptInput').value;
                let coursenum = document.getElementById('coursenumInput').value;
                let area = document.getElementById('areaInput').value;
                let title = document.getElementById('titleInput').value;

                dept = encodeURIComponent(dept);
                coursenum = encodeURIComponent(coursenum);
                area = encodeURIComponent(area);
                title = encodeURIComponent(title);

                let messageId = Math.floor(Math.random(seed) * 1000000) + 1;
                let url = "/index?dept=" + dept + "&coursenum=" + coursenum + "&area=" + area + "&title=" + 
                title + "&messageId=" + messageId;
                
                if (request != null)
                request.abort();
                
                request = createAjaxRequest();
                if (request == null) return;
                request.onreadystatechange = processReadyStateChange;
                request.open("GET", url);
                request.send(null);
            }
            </script>
     </html>
