/*--------------------------------------------------------------------*/
/* main.css                                                           */
/* Author: Osita Ighodaro & Ben Musoke-Lubega                         */
/*--------------------------------------------------------------------*/

.head {background-color:#295078; text-align:center; color:white;} 

.foot {background-color:#295078; text-align:center; color:white;}